@use '~bootstrap/scss/bootstrap';
.profile-image-xl{
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.profile-image-lg{
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.profile-image-md{
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.profile-image-sm{
    width: 32px;
    height: 32px;
    object-fit: cover;
}
.book-image-lg{
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.book-image-md{
    width: 64px;
    height: 64px;
    object-fit: cover;
}
.book-image-sm{
    width: 32px;
    height: 32px;
    object-fit: cover;
}